
h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
}

h5 {
    margin-left: 8%;
}

#instructions {
    font-size: larger;
    margin-left: 4%;
    margin-right: 4%;
}

body {
    background-image: url('images/paper003.jpg');
    background-size: cover;
    color: black;
}

#inputArea {
    background-image: url('images/paper002.jpg');
    background-size: cover;
    color: black;
}

#inputForm, #btnAddToList, #alertText, #funcText, #btnChangable {
    margin-left: 20%;
    margin-right: 20%;
    max-width: 450px;
}

#alertText {
    min-height: 24px;
    color: crimson;
    font-weight: bolder;
    text-decoration: underline;
}

#funcText {
    font-weight: bold;
}

#output {
    text-align: center;
    background-color: beige;
    width: 70%;
    max-width: 500px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2rem;
    font-style: italic;
}

.line {
    text-decoration: line-through;
    text-decoration-style: double;
    background-color: bisque;
}

footer {
    height: 70px;
    margin-top: 70px;
    background-image: url('images/paper002.jpg');
    background-size: cover;
    color: black;
}

footer p {
    margin-left: 8%;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}