#output {
    text-align: center;
    background-color: beige;
    width: 80%;
}

#alertText {
    color: crimson;
}

.line {
    text-decoration: line-through;
    text-decoration-style: double;
    background-color: bisque;
}
